@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sistema de Cuentas por Cobrar</h1>
    <p class="lead">Bienvenidos al sistema ed cuentas por cobrar, utilizar el menú superior para navegar por la página.</p>
</div>
